<contentbox
    boxtitle="gnomAD Exomes"
    title-url="{{ $ctrl.allele.urls.gnomad }}"
    disabled="!$ctrl.allele.annotation.frequencies.GNOMAD_EXOMES"
>
    <cbbody>
        <frequency-details
            group="'GNOMAD_EXOMES'"
            allele-path="$ctrl.allelePath"
        ></frequency-details>
    </cbbody>
</contentbox>
